{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}关于Javen的故事{% endblock %}

{% block content %}
<div class="archive_card">
    <h1>关于Javen的故事</h1>
</div>
<div class="archive_card aboutme">
    <p>90后</p>
    <p>性别男</p>
    <p>刚毕业（2018.9）</p>
    <p>一个土生土长的广州人</p>
    <p>目前在广州黄埔某家小公司工作。</p>
    <p>主要做爬虫方面的Python编程，也有做Django开发。</p>
    <p>创建这个博客的原因大部分程序员建博客一样，希望将自己工作得到的经验记录下来。</p>
    <p>并且让那些遇到相同问题的人少走弯路吧。</p>
    <p>就先这样吧，(●'◡'●)</p>
    <p>2018.09.15</p>
</div>
{% endblock content %}